<h1>Demo</h1>
<p>
	Demo of fingervein scanning technology
</p>

<%= link_to "Check In", checkin_path, :class => "checkin_button round" %><br>
<%= link_to "Payment", payment_path, :class => "payment_button round" %><br>
<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>